:root {
  --white-color: #FFFFFF;
  --black-color:#0c0c0c;
  --secondary-color: #6c757d; 
  --accent-color: #53ACFF; 
  --orange-color: #D94111;
  --green-color: #118F4B;
  --grey-color: #414040;
  --dark-grey:#252525;
  --darkest-grey:#131313; 
  --light-grey:#313131;
}
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: row;
  width: 100%;
}
h1,h2.h3,h4,h5,h6{
  font-family: "Poppins",sans-serif;
  font-weight: 700;
}
.page-container{
  display: flex;
  width: 92vw;
  margin-left: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
